<%= render(VisitorTrackingWeb.LayoutView, "header.html", %{conn: @conn, current_user: @current_user}) %>

<div class="container">
	<div class="columns">
		<div class="column is-4 is-offset-4 has-text-centered">
			<input type="hidden" id="event_id" value="<%= @event.id %>" />
			<input type="hidden" id="api_url" value="<%= @api_url %>" />
		  <div id="event-scanner"></div>
		</div>
	</div>
</div>
