<div class="alert notification is-info is-light" role="alert"><%= get_flash(@conn, :info) %></div>
<div class="alert notification is-danger is-light" role="alert"><%= get_flash(@conn, :error) %></div>