<footer class="footer mt-6">
  <div class="content has-text-centered">
    <a href="/">
      <img src="<%= Routes.static_path(@conn, "/images/vesita-logo-full.svg") %>" width="150">
    </a>  

    <div class="footer-links mt-3">
        <%= link "Datenschutz", to: Routes.cms_path(@conn, :privacy), class: "button is-text" %>
    </div>

    <p>Developed with <i class="fas fa-heart"></i></p>

  </div>
</footer>