<%= render(VisitorTrackingWeb.LayoutView, "header.html", %{conn: @conn, current_user: @current_user}) %>

<section>
	<%= render(VisitorTrackingWeb.RegistrationView, "steps.html", step: 1) %>

	<div class="container">
		<div class="column is-4 is-offset-4 has-text-centered">
			<p class="subtitle">Tippe deine Mobilnummer ein:</p>
      <%= form_for @conn, "/register", fn f ->	 %>
        <div class="field">
          <div class="control">
            <div id="phone-input"></div>

            <!-- <%= text_input f, :phone, class: "input is-medium", autofocus: "true" %> -->
            <p class="help is-danger">
              <%= error_tag f, :phone %>
            </p>
          </div>
        </div>
        <p class="help is-danger">
          <%= error_tag f, :phone %>
        </p>

        <div class="field is-grouped is-grouped-centered">
          <div class="control">
            <%= submit "Prüfen", class: "button is-block is-primary is-fullwidth is-medium" %>
          </div>
        </div>
        <br>
        <small>
          <em>
            Du hast bereits einen Account? Hier kannst du dich <%= link "anmelden", to: Routes.session_path(@conn, :new) %>.
          </em>
        </small>
      <% end %>
    </div>
  </div>
</section>
