<%= render(VisitorTrackingWeb.LayoutView, "header.html", %{conn: @conn, current_user: @current_user}) %>

<section>
  <div class="container">
    <div class="column is-4 is-offset-4 has-text-centered">
      <p class="subtitle">Du hast eine SMS mit einem Link zum zurücksetzen deines Passworts erhalten.</p>
    </div>
  </div>
</section>
